<div *ngIf="!noToken()" id="searchField">
  <app-header></app-header>

  <hr>
  <form #f="ngForm" (ngSubmit)="onBookSubmit(f)">
    <div class="form-group">
      <div class="row">
        <div class="col-md-10"><input type="text" id="title" name="title" ngModel class="form-control" placeholder="Search for a book.."></div>
        <div class="col-md-2"> <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button></div>
      </div>
    </div>
  </form>
  <hr>
  <app-books></app-books>
</div>