<div *ngIf="!noToken()" id="searchField">
  <app-header></app-header>
  Read more informations about authors
  <hr>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-10"> <input type="text" id="fullName" name="fullName" ngModel class="form-control" placeholder="Search for an author..">
            </div>
            <div class="col-md-2"><button id="searchBtn" class="btn btn-default" type="submit" (click)="onGetAuthor(f)">
            <span class="glyphicon glyphicon-search" ></span>
          </button>
            </div>
          </div>

        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </form>
  <hr>

  <app-author *ngIf="author" [author]="author"></app-author>
  <app-authors></app-authors>
</div>