<app-welcome></app-welcome>
<div class="container">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <!--<div class="row">                
              <img src="photo.png" id="photoLogin">
        </div>-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">Login to your account</div>
            </div>

            <div class="panel-body">

                <form name="form" id="form" class="form-horizontal" method="POST" #f="ngForm" (ngSubmit)="onLogin(f)">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="email" type="email" class="form-control" name="email" ngModel placeholder="email" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" ngModel placeholder="password" required>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button [disabled]="!f.valid" type="submit" class="btn btn-primary pull-right" ><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>