@media screen and (min-width: 480px) {
    #app {
        margin: 100px;
    }
}
@media screen and (max-width: 481px) {
    #app {
        margin: 70px;
    }
}
#name{
    text-align: right;
    text-decoration: underline red;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}