<div class="row">
  <div class="col-md-7">
    <small>Welcome to BOOK4LOOK</small>
    <h2>New way to</h2>
    <h3><i>explore books, find authors, set challenges, collect quotes</i></h3>
    <hr>
  </div>

  <div class="col-md-5">
    <div class="book">
      <span class="page turn"></span>
      <span class="page turn"></span>
      <span class="page turn"></span>
      <span class="page turn"></span>
      <span class="page turn"></span>
      <span class="page turn"></span>
      <span class="cover"></span>
      <span class="page"></span>
      <span class="cover turn"></span>
    </div>
  </div>
</div>

<button class="btn btn-default" [routerLink]="['/login']">LOG IN</button>
<button class="btn btn-default" [routerLink]="['/register']">REGISTER</button>